body {
  text-align: center;
  background-color: #758678;
}

h1 {
  font-size: 5rem;
  color: #1f3f6c;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #8095b3;

}

footer {
  color: #d2dc3d;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.jpg");
}

.a {
  background-image: url("images/tom2.jpg");
}

.s {
background-image: url("images/tom3.jpg");
}

.d {
  background-image: url("images/tom4.jpg");
}

.j {
  background-image: url("images/crash.jpg");
}

.k {
   background-image: url("images/kick.jpg");
}

.l {
  background-image: url("images/snare.jpg");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #516c73;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
